<form (submit)="onSubmit()" [formGroup]="emailForm">
  <ng-pg-input 
    [control]="emailForm.controls.to"
    label="To"
  >
  </ng-pg-input>
  <ng-pg-input 
    [control]="emailForm.controls.from"
    label="From"
  >
  </ng-pg-input>
  <ng-pg-input 
    [control]="emailForm.controls.subject"
    label="Subject"
  >
  </ng-pg-input>
  <ng-pg-input 
    [control]="emailForm.controls.text"
    label="Body"
    type="textarea"
  >
  </ng-pg-input>
  <button
    [disabled]="emailForm.invalid"
    type="submit" 
    class="button is-info"
  >
    Send
  </button>
</form>
