<div class="container-sm">
  <form 
    class="row g-3 mx-auto needs-validation w-50" 
    novalidate
    (submit)="onSubmit()" 
    [formGroup]="emailForm"
  >
    <ng-pg-bootstrap-input
      [control]="emailForm.controls.to"
      label="To"
    >
    </ng-pg-bootstrap-input>
    <ng-pg-bootstrap-input
      [control]="emailForm.controls.from"
      label="From"
    >
    </ng-pg-bootstrap-input>
    <ng-pg-bootstrap-input
      [control]="emailForm.controls.subject"
      label="Subject"
    >
    </ng-pg-bootstrap-input>
    <ng-pg-bootstrap-input
      [control]="emailForm.controls.text"
      label="Body"
      rows="10"
      type="textarea"
    >
    </ng-pg-bootstrap-input>
    <button
      [disabled]="emailForm.invalid"
      type="submit" 
      class="btn btn-info"
    >
      Send
    </button>
  </form>
</div>
