<div class="container-sm">
  <h1 class="mb-10 text-center">Sign In</h1>
  <form
    class="row g-3 mx-auto needs-validation w-50" 
    novalidate
    [formGroup]="authForm"
    (submit)="onSubmit()"
  >
    <ng-pg-bootstrap-input
      class="col-md-12"
      [control]="authForm.controls.email"
      label="Email"
      type="email"
    >
    </ng-pg-bootstrap-input>
    <ng-pg-bootstrap-input
      class="col-md-12"
      [control]="authForm.controls.password"
      label="Password"
      type="password"
    >
    </ng-pg-bootstrap-input>
    <button 
      [disabled]="authForm.invalid"
      type="submit"
      class="btn btn-info"
    >
      Submit
    </button>
  </form>
  <div 
    *ngFor="let error of getFormErrorsMessages()"
    class="mt-6 alert alert-danger" 
    role="alert"
  >
    {{ error.message }}
  </div>
</div>
