<ng-pg-divider>
  <h1>Table Component</h1>
</ng-pg-divider>
<ng-pg-table 
  [data]="data"
  [headers]="headers"
  [class]="'striped celled'"
>
</ng-pg-table>
<ng-pg-divider>
  <h1>Tab Menue Component</h1>
</ng-pg-divider>
<ng-pg-tabs>
  <a 
    class="item"
    routerLink="./" 
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >
    Biography
  </a>
  <a class="item" routerLink="companies" routerLinkActive="active">Companies</a>
  <a class="item" routerLink="partners" routerLinkActive="active">Partners</a>
</ng-pg-tabs> 
