<ng-pg-divider>
  <h1>Modal Component</h1>
</ng-pg-divider>
<button type="button" (click)="toggleModal()">Open Modal</button>
<ng-pg-modal *ngIf="isModalVisible">
  <ng-container modalTitle>Modal Title</ng-container>
  <p modalContent>
    Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.
  </p>
  <ng-container modalFooter>
    <button class="ui button" type="button" (click)="toggleModal()">Close Modal</button>
  </ng-container>
</ng-pg-modal>
<ng-pg-divider>
  <h1>Accordion Component</h1>
</ng-pg-divider>
<ng-pg-accordion [items]="accordionItems"></ng-pg-accordion>
