<div class="container is-fluid">
  <div class="block"></div>
  <div class="columns is-mobile">
    <div class="column is-3">
      <ng-pg-email-index [emails]="recievedEmails$ | async"></ng-pg-email-index>
    </div>
    <div class="column is-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<ng-pg-modal>
  <ng-container modalTitle>
    Compose
  </ng-container>
  <ng-container>Content</ng-container>
  <ng-container modalFooter>
    <button class="button is-success">Send</button>
  </ng-container>
</ng-pg-modal>
