<nav class="navbar navbar-dark navbar-expand-lg bg-primary justify-content-center px-8">
  <div class="container-fluid p-2">
    <a class="navbar-brand fs-1 fw-bold" routerLink="/inbox">Email Client</a>
    <button 
      class="navbar-toggler"
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNavDropdown" 
      aria-controls="navbarNavDropdown" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="w-25 collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="w-100 navbar-nav me-3 mb-2 mb-lg-0 d-flex justify-content-end">
      <ng-container *ngIf="!user?.isAuthanticated">
        <li class="nav-item">
          <a 
            class="nav-link fw-bold fs-2" 
            routerLink="/signup"
            routerLinkActive="active"
          >
            Sign up
          </a>
        </li>
        <li class="nav-item">
          <a 
            class="nav-link fw-bold fs-2" 
            routerLink="/signin"
            routerLinkActive="active"
          >
            Sign in
          </a>
        </li>
      </ng-container>
      <li class="nav-item">
        <ng-container *ngIf="user?.isAuthanticated">
          <a class="nav-link" (click)="onSignout()">
            Sign out
          </a>
        </ng-container>
      </li>
    </ul>
  </div>
</nav>
