<ng-template #content let-modal>
	<div class="modal-header">
		<h3 class="modal-title">Compose</h3>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <ng-pg-email-form 
      [email]="email"
      (emailSend)="onEmailSend($event)"
    >
    </ng-pg-email-form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-warning" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>

<button 
  (click)="openModal(content)"
  class="btn btn-primary"
>
  Compose
</button>
